*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

/*Стили для тикета*/
.one-ticket-container {
  border: 1px solid rgb(47, 46, 46);
  border-radius: 20px;
  background-color: white;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  width: 50%;
  min-width: 30%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.container-btn {
  display: flex;
  justify-content: space-between;
}

.container-status {
  display: flex;
  align-items: center;
}

.container-status p {
  margin-right: 10px;
}

.container-checkbox-btn {
  display: flex;
}

.one-ticket-container button {
  min-width: 40px;
  padding: 7px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  border: 1px solid rgb(47, 46, 46);
  background-color: white;
  align-items: center;
  text-align: center;
}

/* Стили для модального окна редактирования */
.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

/*Модальные окна*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid rgb(47, 46, 46);
  border-radius: 20px;
}

.modal-content button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid rgb(47, 46, 46);
  background-color: transparent;
  border-radius: 3px;
}

.modal-content textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin-top: 8px;
  min-width: 350px;
  min-height: 50px;
}

.modal-content .modal-title,
.modal-content p {
  color: #333;
}

.ticket-name {
  cursor: pointer;
  font-size: 20px;
}

.modal-title {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

textarea:focus {
  outline: none;
}

.modal-content button#confirmDelete {
  background-color: #d9534f;
  color: white;
  border: 1px solid #d9534f;
}

.content-delete-question {
  margin-top: 8px;
  margin-bottom: 8px;
}

form {
  display: flex;
  /* justify-content: right; */
}

/* Стили для кнопки "Добавить тикет" */
.add-ticket-btn {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #444546; 
  color: white; 
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.add-ticket-btn:hover {
  background-color: #272728; 
}

.root-container {
  display: flex;
  flex-direction: column-reverse;
}

.one-ticket-container input[type="checkbox"] {
  margin-right: 15px;
  margin-left: 10px;
  transform: scale(3); 
  cursor: pointer;
}


/*Скрываем подробное описание*/
.hidden {
  display: none;
}

/*Подсказка*/
.ticket-name {
  position: relative;
}

.ticket-name::after {
  content: "Нажмите, чтобы раскрыть описание";
  position: absolute;
  top: 100%;
  left: 200px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  display: none;
  font-size: 14px;
  opacity: 0.6;
}

.ticket-name:hover::after {
  display: block;
}

.completed {
  color: rgb(7, 230, 96); 
}

